.container{
   max-width:1100px;
   margin:auto;
   padding:20px;
}
p {
   line-height:1.6;
}

body{
   display: flex;
   flex-direction: column;
   font-family:Georgia, 'Times New Roman', Times, serif;
   background-color:#f4f4f4;
   color: #322236;
   margin:0;
}

main {
   flex: 1;
}

header {
   background: white;
   border-bottom: 1px solid #111111;
}
h1, h2, h3{
   color: #3e235f;
}

a{
   color:#0077cc;
}
nav {
   padding:10px 0;
}

nav ul{
   list-style:none;
   display:flex;
   justify-content: left;
   gap:20px;
   padding:0;
}

nav a{
   text-decoration:none;
   color:#333;
   font-weight:600;
   padding: 5px 10px;
   transition: color 0.2 ease;
   text-align: left;

}
footer{
   text-align: left;
   padding:20px;
   background:white;
   border-top:1px solid #ddd;
   font-size: 0.9rem;

}

nav a:hover{
   color:#0077cc;
}

@media (max-width: 768px){

   nav ul{
      flex-direction:column;
      align-items:center;
   }

   .container{
      padding:10px;
   }

}

@media (max-width: 480px){

   h1{
      font-size:1.5rem;
   }

   nav ul{
      gap:10px;
   }

}

.form {
text-align: center;
padding: 10px;
border: 2px outset #111111;
}

.tagline {
    font-size: 1rem; 
    font-weight: normal;
    color: rgb(98, 64, 117);
    margin-left: 10px;
}