.container{
   max-width: 1250px;
   margin: auto;
}
p {
   line-height:1.6;
}
.logo{
   text-shadow: None;
   color:#0077cc;
}
section{
   background-color: #FFFFFF;
   border-radius: 8px;
}

body{
   display: flex;
   flex-direction: column;
   font-family:Georgia, 'Times New Roman', Times, serif;
   background-color:rgb(167, 228, 252);
   color: #415aa5;
   margin:0;
}

main {
   flex: 1;
}

header {
   background: #FFFFFF;
   border-bottom: 1px solid #111111;
}
h1, h2, h3{
   color: #FFFFFF;
   text-shadow: 4px 2px #0077cc
}

a{
   color:#415aa5;;
}
nav {
   padding:10px 0;
}

nav ul{
   list-style:none;
   display:flex;
   justify-content: left;
   gap:20px;
   padding:0;
}

nav a{
   text-decoration:none;
   color:#333;
   font-weight:600;
   padding: 5px 10px;
   transition: color 0.2 ease;
   text-align: left;

}
footer{
   text-align: left;
   padding:20px;
   background:white;
   border-top:1px solid #ddd;
   font-size: 0.9rem;

}

nav a:hover{
   color:#0077cc;
}

@media (max-width: 768px){

   nav ul{
      flex-direction:column;
      align-items:center;
   .side-section{
      flex-direction: column;
   }
   }

   .container{
      padding:10px;
   }

}

@media (max-width: 480px){

   h1{
      font-size:1.5rem;
   }

   nav ul{
      gap:10px;
   }

}

.form {
text-align: center;
padding: 10px;
border: 2px outset #FFFFFF;
}
form label{
   display: inline-block;
   width: 140px;
   text-align: right;
   margin-right: 10px;
}


.tagline {
    font-size: 1rem; 
    font-weight: normal;
    color: #415aa5;
    margin-left: 10px;
}

.side-section {
   display: flex;
   align-items: center;
   gap: 30px;
}

.side-text {
   flex: 1;
}

.side-image {
   flex: 1;
}

.side-image img {
   width: 100%;
   height: auto;
   border-radius: 8px;
}
form input{
   padding:8px;
   border:1px solid #ccc;
   border-radius:4px;
}
form div{
   margin-bottom: 12px;
}